
favicon/android-chrome-192x192.png
favicon/android-chrome-512x512.png
favicon/apple-touch-icon.png
favicon/favicon-16x16.png
favicon/favicon-32x32.png
favicon/favicon.ico
favicon/site.webmanifest
Images/.DS_Store
Images/california copy.jpg
Images/california-background.png
Images/california.jpg
Images/folder-icon.svg
Images/gardnerpic.jpg
Images/github-icon.png
Images/gradphoto.jpeg
Images/linkedin-logo.ico
Images/robothead.png
Images/selfportrait.png
Under Construction/.DS_Store
Under Construction/About me section writeup.docx
Under Construction/favicon/android-chrome-192x192.png
Under Construction/favicon/android-chrome-512x512.png
Under Construction/favicon/apple-touch-icon.png
Under Construction/favicon/favicon-16x16.png
Under Construction/favicon/favicon-32x32.png
Under Construction/favicon/favicon.ico
Under Construction/favicon/site.webmanifest
Under Construction/images/sleeping cat.png
Under Construction/index.html
Under Construction/styles.css
