#index{
    background-color: white;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(26, 71, 116);
    display: flexbox;
    height: 60px;
    /* align-items: center; */

}

a {
    text-decoration: none;
}
.navbar-top {
    display: flexbox;
    height: 100%;
}

.navbar-top ul {
    margin: 0px;
    padding: 0px;
    color: white;
    list-style: none;
    height: 100%;
}

.navbar-top li {
    display: flex;
    position: relative;
    background-color: none;
    float: right;
    margin-right: 15px;
    font-size: 20px;
    height: 100%;
    align-items: center;

}

.navbar-top li:nth-child(2) {
    padding-right: 10px;
}




.navbar-top li:first-child {
    float: left;
    padding-left: 20px;
    font-size: 25px;
    align-items: baseline;
    margin-top: 13px;

}

.navbar-top a {
    text-decoration: none;
    color: white;
}

.navbar-top a:hover {
    text-decoration: underline;
}

.name a:hover {
    text-decoration: none;
}

.introduction {
    /* background-color: rgb(52, 195, 180); */
    background-image: url('Images/california-background.png');
    height: 325px;
    padding-top: 80px;
    background-size: cover;
    background-repeat:repeat-x;
    display: block;
    max-height: 400px;
    text-align: center;
}

.intro-text {
    text-align: center;
    margin-left: 0px;
    backdrop-filter: blur(.25px);
    display: inline-block;
    margin-left: auto;
}

.intro-text h1.name {
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px black;
}

.intro-text hr {
    border: none;
    border-top: 3px solid white;
    color: white;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 200px;
    margin-top: -12px;
    padding: 0px;
}

.intro-text hr:after {
    color: #fff;
    content: '•';
    display: inline-block;
    padding: 0 4px;
    position: relative;
    top: -24px;
    font-size: 40px;
}

.intro-text h2 {
    font-size: 16px;
    color: white;
    margin-top: -7px;
    text-shadow: 1px 1px black;

}
 
.intro-text h3.location {
    font-size: 16px;
    color: white;
    margin-top: -10px;
    text-shadow: 1px 1px black;
}

 .introduction img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
    display: flex;
    position: relative;
    box-shadow: gray 0 0 2px;
  }

.portfolio {
    background-color: white;
    padding-top: 15px;
}

.portfolio-title {
    color: black;
    text-align: center;
    margin-top: 0px;
    padding-top: 15px;
}

.portfolio-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.portfolio-images img {
    height: 150px;
    margin-right: auto;
    border: 5px solid black;
    object-position: 0px 16.5px;

}
    
.portfolio-images a {
    text-decoration: none;
    color: black;
}

.portfolio-images a:hover {
    text-decoration: underline;
}

.portfolio p {
    text-align: center;
}


/*  about me styles */

/* iphone */





/* @media (max-width:400px)  { 

} */

#aboutme header {
    background-color: rgb(26, 71, 116);
    display: flexbox;
    height: 60px;
    /* align-items: center; */

}

#aboutme > p, #aboutme > a {
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
}

#aboutme {
    background-color: white;
    margin: 0px;
    padding: 0px; 
    
}

#aboutme .aboutme-introduction {
    display: inline-flex;
    text-align: left;
    margin-top: auto;
    min-height: calc(100vh - 60px - 40px - 11.5px);
    /* 5 */
}

.aboutme-introduction img {
    width: 250px;
    height: 375px;
    display: inline-flex;
    padding-left: 11px;
    padding-top: 18px;
}

.aboutme-introduction h1 {
    display: inline-flex;
    /* padding-right: 100%; */
}
.aboutme-introduction .aboutme-introtext {
    display: inline-flex;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    margin-top: -12px;

}

.aboutme-introtext h1 {
    align-self: center;
    margin-bottom: 0px;
}

.aboutme-introtext a:hover {
    text-decoration: underline;
}

.aboutme-introtext .email {
    text-align: center;
}

.aboutme-footer {
    display: flex;
    font-size: 20px;
    background-color:  rgb(26, 71, 116);
    justify-content: space-around;
    align-items: center;
    height: 40px;
    margin-top: auto;
}

.aboutme-footer a {
    text-decoration: none;
    color: white;
}

.footer-github img {
    height: 25px;
    margin-bottom: -3px;
}

.footer-linkedin img {
    height: 25px;
    margin-bottom: -5px;
}

.footer-portfolio img {
    height: 25px;
    margin-bottom: -6px;
}


/* 620px change format */

@media (max-width: 620px) {
    #aboutme .aboutme-introduction {
        display: inline-block;
        text-align: center;
    }

    .aboutme-introduction img {
        
        display: inline-block;
        margin-top: 0px;
        padding-left: 0px;

    }
}


@media (max-width:400px)  { 

    .navbar-top li:first-child {
        width: 100%;
        justify-content: center;
        padding-left: 0px;
    }

   
    .navbar-top li:not(:first-child) {
        display: none;
    }

    .mobile-footer {
        display: flex;
        visibility: visible;
        font-size: 20px;
        background-color:  rgb(26, 71, 116);
        justify-content: center;
        align-items: center;
        height: 40px;
    }
    .mobile-footer a {
        text-decoration: none;
        color: white;
    }
    
    .mobile-footer a:hover {
        text-decoration: underline;
    }

    .aboutme-footer {
        display: none;
    }

}